.center{
    text-align: center;
}
h2{
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gog{
    display: flex;
    gap: 50px;
    
}
.mid{
    text-align: center;
}
button{
    padding: 10px;
   margin-left: 700px;
   background-color: rgb(17, 17, 73);
   color: white;
}
footer{
    background-color: rgb(15, 15, 52);
    color: white;
}
.h{
    margin-left: 700px;
    
}