.us{
    text-align: center;
    background-color: rgb(98, 18, 18);
    color: white;
    margin: 20px;
    padding: 20px;
}
h2{
    text-align: center;

}
div{
    text-align: center;
}
.def{
    text-align: center;
}
.location{
    text-align: center;
}